.navbar {
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    max-width: 1200px;
    height: 76px;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    text-decoration: none;
    color: #202020;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -1px;
}

.navbar-logo span {
    color: #e85d04;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 34px;
}

.navbar-links a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.navbar-links a:hover {
    color: #e85d04;
    transform: translateY(-1px);
}

.navbar-search {
    text-decoration: none;
    padding: 11px 20px;
    border-radius: 12px;
    color: #ffffff;
    background: #e85d04;
    font-size: 14px;
    font-weight: 600;
}

.navbar-search:hover{
    transform: translateY(-2px);
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-logout {
    border: 1px solid #e85d04;
    padding: 10px 18px;
    border-radius: 12px;
    background: transparent;
    color: #e85d04;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    transition:
        background 0.2s ease,
        color 0.2s ease,
        transform 0.2s ease;
}

.navbar-links a {
    position: relative;
}

.navbar-links a::after {
    content: "";

    position: absolute;

    left: 50%;
    bottom: -8px;

    width: 0;
    height: 2px;

    border-radius: 10px;

    background: #e85d04;

    transform: translateX(-50%);

    transition: width 0.25s ease;
}

.navbar-links a.active {
    color: #e85d04;
}

.navbar-links a.active::after {
    width: 22px;
}

.navbar-logout:hover {
    background: #ee1313;
    color: #ffffff;
    transform: translateY(-2px);
}

@media (max-width: 700px) {
    .navbar-actions {
        gap: 7px;
    }

    .navbar-logout {
        padding: 9px 13px;
        font-size: 13px;
    }
}

@media (max-width: 700px) {
    .navbar-links {
        display: none;
    }

    .navbar-container {
        height: 68px;
    }

    .navbar-logo {
        font-size: 24px;
    }
}